body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background-color: #121212;
  color: #e0e0e0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #1a1a2e, #1f4068);
  color: white;
  padding: 3rem 1rem;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

header h1 {
  font-size: 2.8rem;
  margin: 0;
}

main {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 40px;
  width: 100%;
}


/* Section info du projet */
#info {
  background: #1e1e1e;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  margin-bottom: 2rem;
  animation: fadeInUp 0.8s ease forwards;
  opacity: 0;
  transform: translateY(30px);
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



#info p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #ccc;
  text-align: justify;
  text-indent: 2em;
}

/* Iframe */
iframe {
  width: 90%;
  height: 85vh;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0,0,0,0.4);
  display:block;
  margin 0 auto;
}

.container {
  display: flex;
  justify-content: center; /* centre horizontalement */
  align-items: center;     /* centre verticalement */
  height: 90vh;            /* hauteur du conteneur */
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
}

.back-button {
  background: #004a75; /* bleu foncé en accord avec l'entête */
  color: white;        /* texte blanc */
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.back-button:hover {
  background-color: #005f9e; /* un bleu un peu plus clair */
  transform: translateY(-2px);
  color: white;              /* texte toujours blanc */
  box-shadow: 0 6px 15px rgba(0, 95, 158, 0.7);
  text-decoration: none;
}



header h1 {
  flex: 1;
  text-align: center;
  margin: 0;
  font-size: 2.8rem;
}

h2 {
  font-size: 1.8em;
  margin-bottom: 20px;
  color: #00bcd4;
}
