/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: #121212;
  color: #e0e0e0;
  padding: 0 20px;
}

header {
  background: linear-gradient(135deg, #1a1a2e, #1f4068);
  color: #ffffff;
  padding: 60px 20px;
  text-align: center;
}

.header-text h1 {
  font-size: 3em;
  animation: slideIn 1.5s ease-in-out;
}

.header-text p {
  font-size: 1.2em;
  margin-top: 10px;
  animation: fadeInText 2s ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

main {
  width: 90%;
  margin: 40px 0;
}

section {
  margin-bottom: 50px;
}

h2 {
  font-size: 1.8em;
  margin-bottom: 20px;
  color: #00bcd4;
}

p {
  font-size: 1.1em;
  margin-bottom: 20px;
}

/* Contact info */
.contact-info {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: 15px;
}

.contact-info img {
  width: 32px;
  height: 32px;
  transition: transform 0.3s ease;
}

.contact-info img:hover {
  transform: scale(1.2);
}

/* Project list */
#project-list {
  display: grid;
  gap: 2rem;
}

/* Card */
.project {
  background: transparent;
  border-radius: 0px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  padding: 1rem;
  gap: 1.2rem;
  opacity: 0;
  animation: fadeInProject 1s ease forwards;
  will-change: transform;
}

@keyframes fadeInProject {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.project:hover {
  transform: scale(1.02);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.7);
}

.project-content {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.project-content img {
  width: 400px;
  height: 100%;
  -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0,0,0,0.2) 20%, rgba(0,0,0,0.6) 50%, black 90%);
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0,0,0,0.2) 20%, rgba(0,0,0,0.6) 50%, black 90%);
}

.project-text {
  flex: 1;
}

.project-text h3 {
  font-size: 1.3em;
  margin-bottom: 10px;
  color: #F0F3F4;
}

.project-date {
  font-style: italic;
  font-size: 0.95em;
  color: #aaaaaa;
  margin-bottom: 10px;
}

.project-description {
  text-align: justify;
  text-indent: 2em;
  margin: 0.5rem 0 1rem;
  line-height: 1.6;
  color: #ccc;
  margin: 0;
}

/* Bouton retour haut */
#topBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: linear-gradient(135deg, #1a1a2e, #1f4068);
  color: white;
  border: none;
  padding: 12px 16px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  display: none;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
  transition: background-color 0.3s ease;
}

#topBtn:hover {
  background-color: #1a252f;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px 0;
  font-size: 0.9em;
  color: #aaaaaa;
}
